#head-table>td{
	background-color: #610200;
	color: #fff;
}
#login{
	float: right;
	margin-right: 397px;
}
#table-header > td{
	text-align: center;
}
#isi_home{
	width: 800px;
}
#head-table>td>div>a{
  text-decoration: none !important;
  color: white !important;
}
